@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99.7%;
    --foreground: 0 0% 8.9%;
    --card: 0 0% 90.7%;
    --card-foreground: 0 0% 8.9%;
    --popover: 0 0% 99.7%;
    --popover-foreground: 0 0% 8.9%;
    --primary: 343 65% 49%;
    --primary-foreground: 210 20% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 86.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142.1 70.6% 45.3%;
    --success-foreground: 210 40% 98%;
    --border: 0 0% 83.8%;
    --input: 0 0% 83.8%;
    --ring: 343 65% 49%;
    --radius: 0.7rem;
    --gradient-background: linear-gradient(90deg, #d6d6d6 0%, #d4d4d4 100%);
    --gradient-section-1: linear-gradient(90deg, #cccccc 0%, #bebebe 100%);
  }

  .dark {
    --background: 0 0% 8.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 12.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 8.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 343 65% 49%;
    --primary-foreground: 210 20% 98%;
    --secondary: 0 0% 16.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 16.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 16.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 90% 32.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 143.8 61.2% 20.2%;
    --success-foreground: 138.5 76.5% 96.7%;
    --border: 0 0% 16.9%;
    --input: 0 0% 24.9%;
    --ring: 343 65% 49%;
    --gradient-background: linear-gradient(90deg, #212121 0%, #1c1c1c 100%);
    --gradient-section-1: linear-gradient(90deg, #151515 0%, #1a1a1a 100%);
  }
}

html {
  scroll-behavior: smooth;
}

body,
header {
  background: var(--gradient-background);
  color: var(--background);
}

.scrollbar-width-none {
  scrollbar-width: none;
}

@layer utilities {
  .clip-curved-triangle {
    clip-path: path('M0,0 Q100% 0% 100% 100% L0 100% Z');
  }
  .bg-gradient-section-1 {
    background: var(--gradient-section-1);
  }
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  /* background-color: red; */
}

.app-loading {
  opacity: 1;
  transform: none;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  vertical-align: middle;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

.app-loading circle {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: loader-stretch calc(2s * 0.75) ease-in-out infinite;
}

@keyframes loader-stretch {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -124px;
  }
}
